@CHARSET "UTF-8";

body {
	background: url('#{resource['img:bg.png']}') repeat-x scroll center top #00FF7F;
}

#topo {
	background-color: #D3D3D3 !important;
}

div.container {
	margin: 0px auto;
	margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    width: 100%; 
	text-align:left; 
}

.ui-layout-unit-content {
	overflow:hidden !important;
}

div.login {
	margin: 0px auto;
	margin-top: 300px;
    max-width: 700px;
    min-width: 700px;
    width: 100%; 
	text-align:center;
}

#painelInternoAcesso {
	margin-left: 100px;
	position: absolute;
	top: 50%;
	left: 25%;
	width: 50%;
	text-align: center;
	-webkit-transform: translateY( -50% );
	-moz-transform: translateY( -50% );
	transform: translateY( -50% );
}


